table {
    width: 100%;
}

.btn_green{
    color: white;
    background: #94b49c;
    padding: 1% 1.5%;
}

.btn_delete{
    color: #ed6f72;
}

.btn_edit{
    color: #4a7c6c;
}

td {
    color:#487566;
}
